<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="forceRemote" value="false" />

    <!---browserstack-->
    <add key="browserstack.user" value="isqa1" />
    <add key="browserstack.key" value="ZSpRyxrEHPhq7o5zGbFq" />
    <add key="browserstack.hub" value="http://hub.browserstack.com:80/wd/hub/" />

    <!--evo-->
    <add key="evoRegistrationUrl" value="https://evo-test.vulog.com/bcaa-test-front/Account/Register" />
    <add key="evoBackOffice" value="https://evo-test.vulog.com/bcaa-test-labs/login.aspx" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <specFlow>
       <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>